<!DOCTYPE html>
<html>
<title>Databar</title>
<link rel="stylesheet" href="/css/styleUI.css" type="text/css">
<head>
    <meta charset="utf-8">
</head>
<body>
<center>
 
  {{{body}}}

<script src="script.js"></script>
</center>
</body>
</html>
