<h1>Databar Events</h1>

<!-- Order By -->
<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="event_name">Event Name</option>
     <option value="guest_count">Guest Count</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<!-- Events Table  -->
<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Event Name</th>
            <th style="border: 1px solid black">Event Date</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Employee</th>
            <th style="border: 1px solid black">Guest Count</th>
            <th style="border: 1px solid black">Drink Special</th>
        </tr>
    </thead>
    <tr>
        <td style="border: 1px solid black"><div contenteditable>Fantasy Football Draft</div></td> <!-- Event -->
        <td style="border: 1px solid black"><div contenteditable>08/10/2020</div></td> <!-- Event Date -->
        <td style="border: 1px solid black"><div contenteditable>John Smith</div></td> <!-- Employee 1 -->
        <td style="border: 1px solid black"><div contenteditable>Sally Williams</div></td> <!-- Employee 2 -->
        <td style="border: 1px solid black"><div contenteditable>John Rodriguez</div></td> <!-- Employee 3 -->
        <td style="border: 1px solid black"><div contenteditable>NA</div></td> <!-- Employee 4 -->
        <td style="border: 1px solid black"><div contenteditable>NA</div></td> <!-- Employee 5--> 
        <td style="border: 1px solid black"><div contenteditable>20</div></td> <!-- Guest Count -->
        <td style="border: 1px solid black"><div contenteditable>Old Fashion</div></td> <!-- Drink Special -->
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
        <td style="border: 1px solid black"><div contenteditable>Target Staff Meeting</div></td> <!-- Event -->
        <td style="border: 1px solid black"><div contenteditable>08/10/2020</div></td> <!-- Event Date -->
        <td style="border: 1px solid black"><div contenteditable>John Smith</div></td> <!-- Employee 1 -->
        <td style="border: 1px solid black"><div contenteditable>Sally Williams</div></td> <!-- Employee 2 -->
        <td style="border: 1px solid black"><div contenteditable>John Rodriguez</div></td> <!-- Employee 3 -->
        <td style="border: 1px solid black"><div contenteditable>NA</div></td> <!-- Employee 4 -->
        <td style="border: 1px solid black"><div contenteditable>NA</div></td> <!-- Employee 5--> 
        <td style="border: 1px solid black"><div contenteditable>100</div></td> <!-- Guest Count -->
        <td style="border: 1px solid black"><div contenteditable>Moscow Mule</div></td> <!-- Drink Special -->
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
        <td style="border: 1px solid black"><div contenteditable>Town Hall</div></td> <!-- Event -->
        <td style="border: 1px solid black"><div contenteditable>08/10/2020</div></td> <!-- Event Date -->
        <td style="border: 1px solid black"><div contenteditable>John Smith</div></td> <!-- Employee 1 -->
        <td style="border: 1px solid black"><div contenteditable>Sally Williams</div></td> <!-- Employee 2 -->
        <td style="border: 1px solid black"><div contenteditable>John Rodriguez</div></td> <!-- Employee 3 -->
        <td style="border: 1px solid black"><div contenteditable>NA</div></td> <!-- Employee 4 -->
        <td style="border: 1px solid black"><div contenteditable>NA</div></td> <!-- Employee 5--> 
        <td style="border: 1px solid black"><div contenteditable>500</div></td> <!-- Guest Count -->
        <td style="border: 1px solid black"><div contenteditable>Whiskey Sour</div></td> <!-- Drink Special -->
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>

    <tbody id="header">

    </tbody>


</table>

<br>

<p>Add an event to the database</p>

<!-- Events Form  -->

<form id="employees">
    Event Name:
    <input id="event_name" type="text" name="text"><br>
    Event Date:
    <input type="date" name="event_date" id="event_date"><br>
    Employee:
    <input id="telephone" type="text" name="text"><br>
    Employee:
    <input id="telephone" type="text" name="text"><br>
    Employee:
    <input id="telephone" type="text" name="text"><br>
    Employee:
    <input id="telephone" type="text" name="text"><br>
    Employee:
    <input id="telephone" type="text" name="text"><br>
    Guest Count:
    <input id="guest_count" type="integer"><br>
    Drink Speial:
    <input id="'drink_name" type="text"><br> 
     <input type="submit" value="Submit">   
</form>
<br>



