<center> <h1>Databar</h1>
<p>This will be the home page</p>

<!-- Employees page -->
<div id="employees">
    <a href="/employees">
    <img src="employees.jpg" style="width:200px;height:200px;border-radius:50%">
    </a>
    <h2>Employees</h2>
</div>
<br>

<!-- Events page -->
<div id="events">
    <a href="/events">
    <img src="events.jpg" style="width:200px;height:200px;border-radius:50%">
    </a>
    <h2>Events</h2>
</div>
<br>

<!-- Menu page -->
<div id="inventory">
    <a href="/menu">
    <img src="drinks.jpg" style="width:200px;height:200px;border-radius:50%">
    </a>
    <h2>Drink List</h2>
</div>
<br>

<!-- Inventory page -->
<div id="inventory">
    <a href="/inventory">
    <img src="inventory.jpg" style="width:200px;height:200px;border-radius:50%">
    </a>
    <h2>Inventory</h2>
</div>

<div id="job">
    <a href="/jobs">
        <button>Jobs</button> </a>  
    <br>
</div>


</center>
