<center> <h1>Databar</h1>
<p>This will be the home page</p>

<!-- Employees page -->
<div id="employees">
    <a href="/employees">
    <img class="icon" src="images/employees.jpg">
    </a>
    <h2>Employees</h2>
</div>
<br>

<!-- Events page -->
<div id="events">
    <a href="/events">
    <img class="icon" src="images/events.jpg">
    </a>
    <h2>Events</h2>
</div>
<br>

<!-- Menu page -->
<div id="inventory">
    <a href="/menu">
    <img class="icon" src="images/drinks.jpg">
    </a>
    <h2>Drink List</h2>
</div>
<br>

<!-- Inventory page -->
<div id="inventory">
    <a href="/inventory">
    <img class="icon" src="images/inventory.jpg">
    </a>
    <h2>Inventory</h2>
</div>


<!-- Jobs page -->
<div id="job">
    <a href="/jobs">
      <img class="icon" src="images/jobs.jpg">
    </a>
    <h2>Inventory</h2>
    <br>
</div>


</center>
