<h1>Databar</h1>
                       
            <!-- Events page -->
            <span class="nav_icons">
                <a href="/events">
                <img class="icon" id="events" src="images/events.jpg">
                <h2>Events</h2>
                </a>
                
            
            <!-- Employees page -->
                <a href="/employees">
                <img class="icon" id="employees" src="images/employees.jpg">
                <h2>Employees</h2>    
                </a>
                 
                                                           
            <!-- Menu page -->
                <a href="/menu">
                <img class="icon" id="menu" src="images/drinks.jpg">
                <h2>Drink List</h2>
                </a>
                
                                    
            <!-- Inventory page -->
                <a href="/inventory">
                <img class="icon" id="inventory" src="images/inventory.jpg">
                <h2>Inventory</h2>
                </a>
                
            
            <!-- Jobs page -->
                <a href="/jobs">
                <img class="icon" id="jobs" src="images/jobs.jpg">
                <h2>Jobs</h2>
                </a>
                
            </span>
