<!-- Nav Bar -->
    <div id="nav_bar">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/events">EVENTS</a></li>
            <li><a href="/employees">EMPLOYEES</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/inventory">INVENTORY</a></li>
        </ul>
    </div>
    <!-- Page Icon -->
    <div>
    <img class="page_icon" src="images/jobs.jpg">
    </div>
    <h1>Jobs at Databar</h1>

<!-- Order By  -->
<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="job_title">Title</option>
    <option value="hourly_rate">Hourly Rate</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<p>Browse existing jobs or update/delete an job..</p> 

<!-- Jobs Table -->

<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Job Title</th>
            <th style="border: 1px solid black">Hourly Rate</th>
        </tr>
    </thead>
    <tr>
        <td style="border: 1px solid black"><div contenteditable>Bartender</div></td>
        <td style="border: 1px solid black"><div contenteditable>35.00</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
        <td style="border: 1px solid black"><div contenteditable>Security</div></td>
        <td style="border: 1px solid black"><div contenteditable>25.00</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
       <td style="border: 1px solid black"><div contenteditable>Barback</div></td>
        <td style="border: 1px solid black"><div contenteditable>20.00</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>

    <tbody id="header">

    </tbody>


</table>

<br>
<!-- Jobs Form -->
<fieldset>
<legend>Add Job Description</legend>
<form id="jobs">
    Job Title:
    <input id="job_title" type="text" name="text"><br>
    Hourly Rate:
    <input id="hourly rate" type="decimal" name="decimal"><br>
    <input type="submit" value="Submit">    
</form>
</fieldset>

