<h1>Jobs at Databar</h1>

<!-- Order By  -->

<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="job_title">Title</option>
    <option value="hourly_rate">Hourly Rate</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<!-- Jobs Table -->

<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Job Title</th>
            <th style="border: 1px solid black">Hourly Rate</th>
        </tr>
    </thead>
    <tr>
        <td style="border: 1px solid black"><div contenteditable>Bartender</div></td>
        <td style="border: 1px solid black"><div contenteditable>35.00</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
        <td style="border: 1px solid black"><div contenteditable>Security</div></td>
        <td style="border: 1px solid black"><div contenteditable>25.00</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
       <td style="border: 1px solid black"><div contenteditable>Barback</div></td>
        <td style="border: 1px solid black"><div contenteditable>20.00</div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>

    <tbody id="header">

    </tbody>


</table>

<br>

<p>Add an job to the database</p>

<!-- Jobs Form -->

<form id="jobs">
    Job Title:
    <input id="job_title" type="text" name="text"><br>
    Hourly Rate:
    <input id="hourly rate" type="decimal" name="decimal"><br>
    <input type="submit" value="Submit">    
</form>
<br>
