<!-- Return Home -->
<a href="/">
	<button>Return Home</button> </a>  
<br>

<h1>Databar Menu</h1>

<!-- Order By  -->

<form action="">
  <label for="sort_by">Sort By:</label>
  <select name="sort_by" id="sort_by">
    <option value="Whiskey/Bourbon">Whiskey/Bourbon</option>
    <option value="Tequila/Mezcal">Tequila/Mezcal</option>
    <option value="Vodka">Vodka</option>
    <option value="Rum">Rum</option>
    <option value="Beer">Beer</option>
    <option value="Wine">Wine</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<!-- Menu Table -->

<table>
    <thead style="border: 1px solid black">
        <tr>
            <th style="border: 1px solid black">Menu Item</th>
            <th style="border: 1px solid black">Drink Name</th>
            <th style="border: 1px solid black">Ingredient 1</th>
            <th style="border: 1px solid black">Ingredient 2</th>
            <th style="border: 1px solid black">Ingredient 3</th>
            <th style="border: 1px solid black">Ingredient 4</th>
            <th style="border: 1px solid black">Ingredient 5</th>
            <th style="border: 1px solid black">Price</th>
        </tr>
    </thead>
    <tr>
        <td style="border: 1px solid black"><div contenteditable>01</div></td>
        <td style="border: 1px solid black"><div contenteditable>Old Fashioned</div></td>
        <td style="border: 1px solid black"><div contenteditable>Bulleit Bourbon</div></td>
        <td style="border: 1px solid black"><div contenteditable>Angostura Bitters</div></td>
        <td style="border: 1px solid black"><div contenteditable>Luxardo Cherry</div></td>
        <td style="border: 1px solid black"><div contenteditable>Orange Slice</div></td>
        <td style="border: 1px solid black"><div contenteditable>Sugar Cube</div></td>
        <td style="border: 1px solid black"><div contenteditable>$12.00 </div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
        <td style="border: 1px solid black"><div contenteditable>02</div></td>
        <td style="border: 1px solid black"><div contenteditable>Manhattan</div></td>
        <td style="border: 1px solid black"><div contenteditable>Bulleit Rye</div></td>
        <td style="border: 1px solid black"><div contenteditable>Sweet Vermouth</div></td>
        <td style="border: 1px solid black"><div contenteditable>Amaro</div></td>
        <td style="border: 1px solid black"><div contenteditable>Angostura Bitters</div></td>
        <td style="border: 1px solid black"><div contenteditable>Luxardo Cherry</div></td>
        <td style="border: 1px solid black"><div contenteditable>$12.00 </div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
     <tr>
       <td style="border: 1px solid black"><div contenteditable>03</div></td>
        <td style="border: 1px solid black"><div contenteditable>Whiskey Sour</div></td>
        <td style="border: 1px solid black"><div contenteditable>Bulleit Bourbon</div></td>
        <td style="border: 1px solid black"><div contenteditable>Egg White</div></td>
        <td style="border: 1px solid black"><div contenteditable>Lemon Juice</div></td>
        <td style="border: 1px solid black"><div contenteditable>Simple Syrup</div></td>
        <td style="border: 1px solid black"><div contenteditable>Peychaulds Bitters</div></td>
        <td style="border: 1px solid black"><div contenteditable>$10.00 </div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
    <tr>
       <td style="border: 1px solid black"><div contenteditable>04</div></td>
        <td style="border: 1px solid black"><div contenteditable>Moscow Mule</div></td>
        <td style="border: 1px solid black"><div contenteditable>Russian Standard</div></td>
        <td style="border: 1px solid black"><div contenteditable>Ginger Beer</div></td>
        <td style="border: 1px solid black"><div contenteditable>Lime Juice</div></td>
        <td style="border: 1px solid black"><div contenteditable>Mint Sprig</div></td>
        <td style="border: 1px solid black"><div contenteditable>N/A</div></td>
        <td style="border: 1px solid black"><div contenteditable>$10.00 </div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
    <tr>
       <td style="border: 1px solid black"><div contenteditable>05</div></td>
        <td style="border: 1px solid black"><div contenteditable>Cadillac Margarita</div></td>
        <td style="border: 1px solid black"><div contenteditable>Casamigos Reposado</div></td>
        <td style="border: 1px solid black"><div contenteditable>Triple Sec</div></td>
        <td style="border: 1px solid black"><div contenteditable>Sweet & Sour</div></td>
        <td style="border: 1px solid black"><div contenteditable>Gran Marnier</div></td>
        <td style="border: 1px solid black"><div contenteditable>Lime Wedge</div></td>
        <td style="border: 1px solid black"><div contenteditable>$12.00 </div></td>
        <td><button>Delete</button></td>
        <td><button>Update</button></td>
    </tr>
    
    <tbody id="header">

    </tbody>


</table>

<br>

<p>Add Menu Item</p>

<!-- Inventory Form -->

<form id="drinks">
    Drink Name:
    <input id="drink_name" type="text" name="text"><br>
    Ingredient 1:
    <input id="ingredient_1" type="text" name="text"><br>
    Ingredient 2:
    <input id="ingredient_2" type="text" name="text"><br>
    Ingredient 3:
    <input id="ingredient_3" type="text" name="text"><br>
    Ingredient 4:
    <input id="ingredient_4" type="text" name="text"><br>
    Ingredient 5:
    <input id="ingredient_5" type="text" name="text"><br>
    Price:
    <input id="price" type="decimal" name="decimal"><br>
    <input type="submit" value="Submit">    
</form>
<br>
